* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  max-width: 800px;
  margin-inline: auto;
  padding: 4rem 2rem;
  background-color: hsl(0, 0%, 20%) !important;
  color: white !important;
}

button {
  all: unset;
  cursor: pointer;
}
